<div class="sidebar">
    <div class="logo">
       <p><i-lucide [img]="Loader" class="my-icon"></i-lucide>
    Siohioma</p></div>
    <div class="menu">
        <p>MENU</p>
        <a href="#"><i-lucide [img]="LayoutGrid" class="my-icon"></i-lucide>Overview</a>
        <a href="#"><i-lucide [img]="Chart" class="my-icon"></i-lucide>Statistics</a>
        <a href="#"><i-lucide [img]="BookUser" class="my-icon"></i-lucide>Customers</a>
        <a href="#"><i-lucide [img]="Package" class="my-icon"></i-lucide>Product</a>
        <a href="#"><i-lucide [img]="Mail" class="my-icon"></i-lucide>Messages</a>
        <a href="#"><i-lucide [img]="Captions" class="my-icon"></i-lucide>Transactions</a>
    </div>
    <hr style="height:1px;border-width:0;color:gray;background-color:gray">
    <div class="general">
        <p>GENERRAL</p>
        <a href="#"><i-lucide [img]="Bolt" class="my-icon"></i-lucide>Messages</a>
        <a href="#"><i-lucide [img]="ShieldAlert" class="my-icon"></i-lucide>Transactions</a>
    </div>
    <hr style="height:1px;border-width:0;color:gray;background-color:gray">
    <div class="profile">
        <img [src]="imageUrl" alt="Profile">
        <div class="name">
            <p>Fandaww Punx</p>
            <p>Fandaww6@gmail.com</p>
        </div>
    </div>
</div>