.layout{
    display: flex;
    background-color: #d8d8d8;
    .sidenav{
        height: 100vh;
        background-color: #f3f8fa;
    }
    .main {
        background-color: #868686;
        height: 100vh;
        width: 100%;
    }
}