<div class="navbar">
    <div class="sales-title">
        <p>Sales Admin</p>
        <i-lucide [img]="ChevronDown"></i-lucide>
    </div>
    <div class="search-addnew">
        <input type="text" class="search" placeholder="Search anything in Siohioma" />
        <div class="add-box">
            <i-lucide [img]="MailBox" [size]="20" class="icon"></i-lucide>
            <i-lucide [img]="FileStack" [size]="20" class="icon"></i-lucide>
            <div class="add-new">
                 <p>Add new product</p>
                <i-lucide [img]="Plus" [size]="11" class="icon-plus"></i-lucide>
            </div>
           
        </div>
    </div>
</div>